{% extends 'blog/base.html' %}
{% block main_area %}
<h1>blog</h1>
{% if post_list.exists %}
<!-- Blog Post -->
{% for post in post_list %}
<div class="card mb-4">
    {% if post.head_image %}
    <a href="#!"><img class="card-img-top" src="{{post.head_image.url}}"
                      alt="..." /></a>
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/seed/{{post.id}}/800/200" alt="random_image">
    {% endif %}
    <div class="card-body">
        <div class="small text-muted">January 1, 2021</div>
        <h2 class="card-title h4">{{post.title}}</h2>
        {% if post.hook_text %}
        <h5 class="text-muted">{{post.hook_text}}</h5>
        {% endif %}
        <p class="card-text">{{post.content|truncatewords:45}}</p>
        <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more →</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{post.created_at }} by
        <a href="#">작성자명 쓸 위치(개발예정)</a>
    </div>
</div>
{% endfor %}
{% else %}
<h3>아직 게시물이 없습니다.</h3>
{% endif %}

<!-- Pagination-->
<ul class="pagination justify-content-center my-4">
    <li class="page-item ">
        <a class="page-link" href="#">&larr;Newer</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#!">Older&rarr;</a>
    </li>
</ul>
{% endblock %}
